.portfolio {
    flex: 4;
    padding: 20px;
    margin-left: 10px;
}
.portfolioListContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-top: 20px;
}
.portfolioTitleContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.portfolioAddButton {
    width: 80px;
    border: none;
    padding: 5px;
    border-radius: 10px;
    background-color: #ddd;
    color: #555;
    font-size: 16px;
}
.portfolioAddButton:hover {
    background-color: #555;
    color: #ddd;
    cursor: pointer;
}
.portfolioListAvatarContainer {
    display: flex;
    align-items: center;
}
.portfolioListAvatarImage {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}
.portfolioListEdit {
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: #ddd;
    color: #555;
    cursor: pointer;
    margin-right: 20px;
}
.portfolioListEdit:hover {
    background-color: #555;
    color: #ddd;
}
.portfolioListDelete {
    cursor: pointer;
}
.portfolioListDelete:hover {
    cursor: pointer;
    color: #ccc;
}
.portfolioContainer {
    display: flex;
    margin-top: 20px;
    flex-wrap: wrap;
}