.ibCardHeaderTop {
    display: flex;
    align-items: center;
}
.ibCardHeaderImage {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}
.ibCardHeaderTopTitle {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
.ibCardHeaderName {
    font-weight: 600;
}
.ibCardHeaderTitle {
    font-weight: 300;
}