.login {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loginForm {
    display: flex;
    flex-direction: column;
}
.loginInput {
    width: 250px;
    height: 30px;
    border: 1px solid var(--ib-border-strong);
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 10px;

}
.loginButton {
    margin-bottom: 10px;
    width: 100%;
}
/* .loginButton:hover {
    background-color: var(--ib-text-secondary);
    color: var(--ib-border);
}
.loginButton:focus{
    outline: none;
}

.loginButton:disabled{
    cursor: not-allowed;
} */

.loginForgotContainer{
    color: #b4b4b4;
    display: flex;
}
.loginForgot{
    justify-content: right;
    color: #b4b4b4;
}

.loginRegisterButton{
    margin-top: 20px;
    width: 100%;
}
/* .loginRegisterButton:hover {
    background-color: var(--ib-border);
    color: var(--ib-text-secondary);
} */
