.account {
    flex: 4;
    padding: 20px;
    margin-left: 10px;
}
.accountListContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-top: 20px;
}
.accountTitleContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.accountAddButton {
    width: 80px;
    border: none;
    padding: 5px;
    border-radius: 10px;
    background-color: #ddd;
    color: #555;
    font-size: 16px;
}
.accountAddButton:hover {
    background-color: #555;
    color: #ddd;
    cursor: pointer;
}
.accountListAvatarContainer {
    display: flex;
    align-items: center;
}
.accountListAvatarImage {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}
.accountListEdit {
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: #ddd;
    color: #555;
    cursor: pointer;
    margin-right: 20px;
}
.accountListEdit:hover {
    background-color: #555;
    color: #ddd;
}
.accountListDelete {
    cursor: pointer;
}
.accountListDelete:hover {
    cursor: pointer;
    color: #ccc;
}
.accountContainer {
    display: flex;
    margin-top: 20px;
    flex-wrap: wrap;
}