.imagesUploadContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
.imagesUploadTitle {
    font-size: 22px;
    font-weight: 600;
}
.imagesUploadButton {
    background-color: var(--ib-text-primary);
    color: var(--ib-border);
}
.imagesUploadButton:hover {
    background-color: var(--ib-border);
    color: var(--ib-text-primary);
}