
.ibCard {
    padding: 20px;
    -webkit-box-shadow: 2px 2px 15px -12px rgba(var(--ib-shadow-color), 1);
    box-shadow: 2px 2px 15px -12px rgba(var(--ib-shadow-color), 1);
    width: 300px;
    margin: 15px;
}
.ibCardWrapper {
    padding: 20px;
    -webkit-box-shadow: 2px 2px 15px -12px rgba(var(--ib-shadow-color), 1);
    box-shadow: 2px 2px 15px -12px rgba(var(--ib-shadow-color), 1);
    flex: 2;
}
.ibCardWrapperClickable {
    padding: 20px;
    -webkit-box-shadow: 2px 2px 15px -12px rgba(var(--ib-shadow-color), 1);
    box-shadow: 2px 2px 15px -12px rgba(var(--ib-shadow-color), 1);
}
.ibCardWrapperClickable:hover {
    cursor: pointer;
    background-color: var(--ib-surface-subtle);
}
.ibCardTop {
    display: flex;
}

.ibCard:hover {
    cursor: pointer;
    background-color: var(--ib-surface-subtle);
}
.ibCardImage {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}
.ibCardInfoContainerImage {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.ibCardBottom {
    margin-top: 20px;
}
.ibCardTopTitle {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    vertical-align: top;
}
.ibCardName {
    font-weight: 600;
}
.ibCardTitle {
    font-weight: 300;
}
.ibCardDetailsTitle {
    font-size: 14px;
    font-weight: 600;
    color: var(--ib-border-strong);
}
.ibCardInfoContainer {
    display: flex;
    align-items: center;
    margin: 20px 0px;
    color: var(--ib-text-secondary);
}
.ibCardIcon {
    font-size: 14px;
}
.ibCardInfoTitle {
    margin-left: 20px;
}
.ibCardActionsContainer {
    flex: 4;
    border-bottom: 1px solid var(--ib-text-secondary);
    margin-bottom: 10px;
    padding-left: 5px;
}
.ibCardActionsEditLink {
    padding: 5px;
    display: flex;
    justify-content: right;
}
.ibCardActionsIcon {
    cursor: pointer;
}